html {
  background-color: rgb(226, 216, 216);
}

body {
  margin: 0;
  /* height: 100%; */
}

a {
  color: black;
  text-decoration: none;
}

.navigation {
  text-align: center;
  padding: 0px;
}

.navigation li {
  display: inline-block;
  width: 100px;
  background-color: rgb(157, 155, 155);
}

.header {
  height: 60px;
}

.heading {
  position: fixed;
  top: 0px;
  background-color: 521751;
  color: white;
  height: 40px;
  padding: 10px 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.main-text {
  /* background-color: #fa923f; */
  display: flex;
  text-align: center;
  /* padding: 10px; */
}

.main-text p {
  background-color: 521751;
  color: white;
  margin: 0px;
  width: 50%;
}

.main-text2 {
  position: relative;
  background-color: 521751;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  bottom: 20px;
}

.main-images {
  display: flex;
}

.main-images img {
  height: 100%;
  width: 50%;
}

.footer-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  justify-content: center;
}

.footer-section img {
  width: 120px;
  margin: 10px;
  border-radius: 50%;
}

.footer-section p {
  width: 300px;
  text-align: center;
}
